@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Blackish: #221F20;
  --gray-color: #d9d9d9;
  --lightest-gray-color: #fafafa;
  --Aqua: #007AA9;
  --white: #fff;

  /* Fonts */
  --font-Lato: "Lato", sans-serif;
  --font-Acumin-Bold: "acumin-bold";
  --font-Acumin-ExtraLight: "acumin-ExtraLight";
  --font-Acumin-Light: "acumin-light";
  --font-Acumin-Medium: "acumin-Medium";
  --font-Acumin-Black: "acumin-black";
  --font-Acumin-Semibold: "acumin-semibold";
  --font-Acumin-Regular: "acumin-regular";
  --font-Acumin-Thin: "acumin-thin";
}


@font-face {
  font-family: "acumin-bold";
  src: url("/assets/fonts/AcuminsPro/acumin_pro_bold.ttf");
}

@font-face {
  font-family: "acumin-ExtraLight";
  src: url("/assets/fonts/AcuminsPro/AcuminPro-ExtraLight.ttf");
}

@font-face {
  font-family: "acumin-light";
  src: url("/assets/fonts/AcuminsPro/aclight.ttf");
}

@font-face {
  font-family: "acumin-Medium";
  src: url("/assets/fonts/AcuminsPro/AcuminPro-Medium.ttf");
}

@font-face {
  font-family: "acumin-black";
  src: url("/assets/fonts/AcuminsPro/fonnts.com-AcuminPro-Black.ttf");
}

@font-face {
  font-family: "acumin-semibold";
  src: url("/assets/fonts/AcuminsPro/fonnts.com-AcuminPro-Semibold.ttf");
}

@font-face {
  font-family: "acumin-regular";
  src: url("/assets/fonts/AcuminsPro/fonnts.com-AcuminPro-Regular.ttf");
}

@font-face {
  font-family: "acumin-thin";
  src: url("/assets/fonts/AcuminsPro/fonnts.com-AcuminPro-Thin.ttf");
}

/* form css start here */
.mb-40 {
  margin-bottom: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}

.my-80 {
  margin-bottom: 80px;
  margin-top: 80px;
}

.form-wrapper {
  border: 1px solid var(--gray-color, #D9D9D9);
  background: #F7F7F7;
  padding: 40px 100px 45px 100px;
}

.form-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.field-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error_field {
  border-color: red !important;
}

.iti {
  width: 100%;
}

.custom-form-control {
  border: 1px solid var(--gray-color, #D9D9D9);
  background: var(--Wt, #FFF);
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: block;
  width: 100%;
  height: 48px;
  padding: .375rem .75rem;
}

.custom-textarea {
  border: 1px solid var(--gray-color, #D9D9D9);
  background: var(--Wt, #FFF);
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
}

.custom-textarea::placeholder {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.custom-textarea::placeholder {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.custom-textarea:focus {
  outline: none;
  border: 1px solid var(--gray-color, #D9D9D9);
  box-shadow: none;
}

.custom-form-control:focus {
  outline: none;
  border: 1px solid var(--gray-color, #D9D9D9);
  box-shadow: none;
}

.form-sec {
  padding: 64px 20px 80px 20px;
  background: #F7F7F7;
}

.common-form-wrapper {
  max-width: calc(100% - 78%);
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.form-inner-title {
  color: var(--Blk, #000);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.scroll-down {
  scroll-padding-top: 120px;
}

.form-main-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

/* Common css start here  */

a:hover {
  text-decoration: none;
}

.blue-btn {
  padding: 14px 28px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: var(--Aqua);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.blue-btn:hover {
  background: var(--Aqua);
  color: var(--white, #fff);
  text-decoration: none;
}

.blue-black-btn {
  padding: 14px 28px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: var(--Aqua);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.blue-black-btn:hover {
  background: var(--Blackish);
  color: var(--white, #fff);
  text-decoration: none;
}

.arrow-btn {
  padding: 2px 0;
  color: var(--Aqua, #007AA9);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--Aqua);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrow-btn:hover {
  border-bottom: 1px solid var(--Aqua);
  color: var(--Aqua, #007AA9);
  text-decoration: none;
}

.clemens-container {
  max-width: calc(100% - 28%);
  margin: 0 auto;
}

.clemens-lg-container {
  max-width: calc(100% - 12%);
  margin: 0 auto;
}

.common-header {
  position: relative;
  padding-top: 32%;
  min-height: 350px;
}

.common-header .page-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.central-content {
  max-width: calc(100% - 50%);
  margin: 64px auto;
  text-align: center;
}

.central-banner {
  position: relative;
  padding-top: 34%;
  min-height: 300px;
}

.central-banner .central-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.central-banner-content-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
  height: 100%;
  max-width: 70%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 13%;
}

.central-banner-content {
  max-width: 600px;
}

.central-banner-title {
  color: var(--Wt, #FFF);
  font-family: var(--font-Michroma);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.title-heading {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 100%;
}

.bold-title-heading {
  color: var(--Blk, #000);
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 24px;
  width: 100%;
}

.central-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

p {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.clemens-featured-box {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.clemens-featured-col .content-box {
  padding-bottom: 30px;
  padding-top: 30px;
}

.clemens-featured-col {
  width: 50%;
}

.clemens-featured-img {
  width: 100%;
  height: 100%;
  min-height: 250px;
}

.clemens-featured-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clemens-featured-col {
  width: 50%;
}

.clemens-container-fluid .clemens-featured-col .content-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  max-width: 63%;
  margin: 0 auto;
  padding: 80px 0;
}

.featured-subtitle {
  color: var(--Aqua, #007AA9);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.positioned-banner {
  object-position: -50% 100%;
}

/* Common css ends here  */

/* desktop header start here */

.desktop-header {
  border-bottom: 1px solid #E6E6E6;
}

.nav-wrapper {
  display: flex;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 95px;
}

.left-nav {
  width: 40%;
}

.right-nav {
  width: 40%;
}

.left-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

.left-nav-list li,
.right-nav-list li {
  list-style-type: none;
}

.right-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.nav-link-item {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 40px 20px;
  display: inline-block;
}

.nav-link-item:hover {
  color: var(--Blackish, #221F20);
}

.site-logo-wrapper {
  max-width: 233px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.site-logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.location-dropdown-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-left: 70px
}

.central-nav {
  width: 20%;
}

.location-name,
.location-number {
  margin-bottom: 0;
}

.location-number {
  color: var(--Aqua, #007AA9);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.location-dropodown-wrapper {
  position: relative;
}

.location-dropdown {
  position: absolute;
  top: 78px;
  right: -95px;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  background: #FFF;
  padding: 24.5px 95px 19px 85.623px;
  cursor: pointer;
  display: none;
}

.dropdown-location-name,
.dropdown-location-number {
  margin-bottom: 0;
}

.dropdown-location-name {
  color: var(--Blackish, #221F20);
  text-align: right;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.dropdown-location-number {
  color: var(--Blackish, #221F20);
  text-align: right;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  opacity: 0.6;
}

.location-dropdown li {
  margin-bottom: 48px;
}

/* mega menu css start here */

.mega-menu-parent {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 200;
  border-bottom: 1px solid #EEE;
  background: red;
  width: 100%;
  transition: all 0.5s;
  /* display: none; */
}

.inventory-mega-menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 40px 90px 83px 90px;
  max-width: calc(100% - 9%);
  display: none;
}

.outboard-mega-menu {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 200;
  border-bottom: 1px solid #EEE;
  background: red;
  width: 100%;
  transition: all 0.5s;
}

.brand-img-sec {
  width: 250px;
}

.mega-menu-content-box {
  width: calc(100% - 250px);
  padding: 0 0 0 80px;
}

.mega-menu-top-heading {
  margin-bottom: 25px;
}

.mega-menu-links ul {
  padding-left: 0;
}

.mega-menu-links ul li {
  list-style: none;
  margin-bottom: 16px;
}

.mega-menu-links ul li a {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mega-menu-brand-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 16px;
}

.mega-menu-brand-item {
  width: calc(100% / 3 - 11px);
  list-style: none;
  position: relative;
  padding-top: 20%;
}

.mega-menu-brand-item .mega-menu-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.mega-menu-logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 100%;
}

.mega-menu-logo-wrapper .mega-menu-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-mega-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 23px;
}

.close-mega-menu i {
  color: #7B7B7B;
}

.close-mega-menu span {
  color: #7B7B7B;
  font-family: 'acumin-light';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 10px;
}

.mega-menu-brand-box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 40px 90px 83px 90px;
  max-width: calc(100% - 12%);
  /* display: none; */
}

.outboard-mega-menu-item {
  width: calc(100% / 3 - 11px);
  list-style: none;
  position: relative;
  padding-top: 20%;
}

.outboard-mega-menu-item .mega-menu-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.outboard-mega-menu-item .mega-menu-logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 100%;
}

.outboard-mega-menu-item .mega-menu-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* contact page css start here */

.contact-form-section {
  margin-top: -70px;
}

.location-items-list {
  display: flex;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.location-section {
  padding: 120px 0 80px 0;
  border-top: 1px solid var(--gray-color, #D9D9D9);
  margin-top: -40px;
}

.addres-bar {
  display: flex;
  gap: 15px;
}

.addres-bar a {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.addres-bar a:hover {
  color: var(--Blackish, #221F20);
}

.phone-number {
  color: var(--Aqua, #007AA9);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: 16px 0;
}

.phone-number:hover {
  color: var(--Aqua, #007AA9);
}

.hours-sec ul {
  padding-left: 0;
}

.hours-sec ul li {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
}

.hours-title {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.location-subtitle {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  opacity: 0.6;
}

.content-title {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.contact-card-img {
  position: relative;
  padding-top: 55%;
}

.contact-card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* career page css start here */

.career-header::after {
  background: unset;
  position: unset;
}

.employment-subtitle {
  color: var(--Blk, #000);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.positions-header {
  color: var(--Blk, #000);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.job-card {
  border: 1px solid var(--D9, #D9D9D9);
  background: #FAFAFA;
  padding: 36px 40px 44px 36px;
}

.custom-file-group {
  display: flex;
}

.input-group-prepend {
  max-width: 172px;
}

.custom-file-display {
  width: calc(100% - 172px);
  border-radius: 1px;
  border-right: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
  border-left: 1px solid var(--Blackish);
  background: var(--white, #FFF);
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-job-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: var(--font-Acumin-Bold);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 24px;
}

.upload-label {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: var(--font-Acumin-Medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px;
  border: 1px solid var(--Blackish);
}

.job-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.job-location {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.job-location span {
  color: var(--Blackish);
  margin-right: 5px;
}

.job-btn-outline {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 14px 30px;
  border: 2px solid #000;
  background: transparent;
}

.job-btn-outline:hover {
  color: var(--Blk, #000);
  border: 2px solid #000;
  background: transparent;
}

.job-btn-filled {
  background-color: #003a70;
  border-color: #003a70;
  border-radius: 6px;
  color: var(--Wt, #FFF);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 40px;
}

.job-btn-filled:hover {
  background-color: #003a70;
  border-color: #003a70;
}

.job-description-modal .modal-dialog {
  max-width: 1250px;
  width: 100%;
}

.job-description-modal .modal-header .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.career-card-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.job-description-modal .modal-header {
  border-bottom: none;
}

.job-detail-section {
  font-family: 'Arial', sans-serif;
  color: #000;
}

.job-detail-main-title {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0.5rem;
}

.job-detail-meta {
  color: var(--Blackish, #221F20);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.detail-section-label {
  color: var(--Blackish, #221F20);
  text-align: right;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.detail-body-text {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.detail-bullet-list {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  list-style-type: disc;
  padding-left: 20px;
}

.detail-bullet-list li {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.detail-divider {
  border: 0;
  border-top: 1px solid #eeeeee;
  margin: 2rem 0;
}

.job-detail-time {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

.apply-form-modal .modal-dialog {
  max-width: 600px;
  width: 100%;
}


/* fnancing page css start here */

/* Container & Section Spacing */
.marina-financing {
  width: 100%;
  padding: 80px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.financing-inner {
  max-width: calc(100% - 25%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.financing-text {
  margin-bottom: 48px;
}

.financing-action {
  padding-left: 90px;
  padding-top: 48px;
}

.financing-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
}

.financing-heading-box {
  width: 35%;
}

.financing-description-box {
  width: calc(100% - 35%);
}

.why-finance-list {
  gap: 18px;
  margin-bottom: 48px;
}

.finance-list-item {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}

/* brand page css start here */

.brand-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
}

.brand-gallery-card {
  width: calc(100% / 3 - 2px);
}

.brand-gallery-img {
  position: relative;
  padding-top: 50%;
}

.brand-gallery-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-gallery-img {
  position: relative;
  padding-top: 55%;
  overflow: hidden;
  cursor: pointer;
}

.video-gallery-img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.is-playing .play-overlay {
  opacity: 0;
  pointer-events: none;
}

.video-title {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}

/* about page css start here */

.about-location-section {
  background-image: url('../images/about/pattern.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clemens-featured-box {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.clemens-featured-col .content-box {
  padding-bottom: 30px;
  padding-top: 30px;
}

.clemens-featured-col {
  width: 50%;
}

.clemens-featured-img {
  width: 100%;
  height: 100%;
}

.clemens-featured-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clemens-featured-col {
  width: 50%;
}

.featured-title-heading {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 52px;
  text-transform: uppercase;
}

.clemens-lg-container .clemens-featured-col .content-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 100px;
}

.clemens-container .clemens-featured-col .content-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  max-width: 75%;
  margin: 0 auto;
}

.location-header {
  padding-top: 64px;
  margin-top: 40px;
  text-align: center;
}

/* brand page css start here */

/* brand page css start here */
.clemens-brand-container {
  max-width: calc(100% - 34%);
  margin: 0 auto;
}

.clemens-brand-container .content-box {
  padding-right: 7.5rem;
}

.robalo-hero {
  position: relative;
  padding-top: 49%;
  min-height: 450px;
}

.robalo-hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.robalo-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.robalo-hero-overlay-boat {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 45%;
  z-index: 2;
}

.robalo-hero-overlay-boat .boat-img {
  width: 100%;
  filter: drop-shadow(0 30px 60px rgba(0, 0, 0, 0.6));
  transform: rotate(-15deg);
}

.robalo-hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
  max-width: 900px;
  width: 100%;
  padding-top: 100px;
}

.robalo-hero-title {
  color: var(--white, #FFF);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.robalo-hero-subtitle {
  color: #FFF;
}

/* Action Bar */
.robalo-action-bar {
  background: #fff;
  padding: 25px 0;
  border-bottom: 1px solid #f0f0f0;
}

.robalo-action-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.robalo-action-btns {
  display: flex;
  gap: 20px;
  width: calc(100% - 30%);
  padding: 28px 0;
}

.robalo-brand-logo-box {
  max-width: 200px;
  width: 100%;
  margin: 0 0 0 auto;
}

.robalo-brand-logo-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.robalo-black-btn {
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: 0.4s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 16px 30px;
}

.robalo-black-btn:hover {
  color: #fff;
  text-decoration: none;
}

.robalo-brand-logo-box .logo-img {
  width: 100%;
  height: auto;
}

/* Lineup Section */
.robalo-lineup-section {
  padding: 80px 0 120px 0;
}

.robalo-sec-title {
  color: var(--Blackish, #221F20);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}

.robalo-lineup-item {
  text-align: center;
  padding: 0 15px;
}

.row .col-md-3:last-child .robalo-lineup-item {
  border-right: none;
}

.brand-border {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.brand-border:first-child {
  border-left: 2px solid #eee;
}

.brand-border:last-child {
  border-right: 2px solid #eee;
}

.robalo-lineup-item .lineup-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  object-fit: contain;
}

.robalo-lineup-name {
  color: var(--Blackish);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 0;
  -webkit-text-stroke-width: 0.5px;
}

.brand-banner-content {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}

.brand-banner {
  border-bottom: 1px solid var(--D9, #D9D9D9);
  background: #FFF;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.brand-subtitle {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 16px;
  opacity: 0.6;
}

.inven-sec-header {
  padding-top: 64px;
  padding-bottom: 40px;
}

.inven-sec-title {
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 52px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.5px;
}

.gallery-carousel .item {
  position: relative;
  padding-top: 60%;
}

.gallery-carousel .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.download-card-content i {
  color: var(--Blackish);
  padding-right: 28px;
}

@media (max-width: 1600px) {
  .location-dropdown-item {
    padding-left: 40px;
  }

  .clemens-lg-container .clemens-featured-col .content-box {
    padding: 40px 50px;
  }

  .featured-title-heading {
    font-size: 40px;
    line-height: 45px;
  }

  .central-title {
    font-size: 40px;
    line-height: 45px;
  }

  .form-wrapper {
    padding: 60px 60px 70px 60px;
  }

  .mega-menu-logo-wrapper {
    max-width: 150px;
  }
}

@media (max-width: 1500px) {
  .mega-menu-links ul li a {
    font-size: 20px;
  }

  .inventory-mega-menu {
    padding: 40px 50px 83px 50px;
  }

  .mega-menu-content-box {
    padding: 0 0 0 40px;
  }

  .inven-sec-title {
    font-size: 40px;
    line-height: 45px;
  }

  .clemens-brand-container .content-box {
    padding-right: 3.5rem;
  }

  .clemens-brand-container {
    max-width: calc(100% - 25%);
  }

  .clemens-container {
    max-width: calc(100% - 15%);
  }

  .title-heading {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1440px) {
  .location-dropdown-item {
    padding-left: 25px;
  }

  .nav-link-item {
    padding: 40px 10px;
  }

  .dropdown-location-number {
    font-size: 24px;
    line-height: 29px;
  }

  .location-dropdown li {
    margin-bottom: 35px;
  }

  .nav-wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 75px;
  }

  .location-dropdown {
    right: -75px;
    padding: 24.5px 75px 19px 85.623px;
  }
}



@media screen and (max-width: 1200px) {
  .mega-menu-links ul li a {
    font-size: 16px;
  }

  .mega-menu-logo-wrapper {
    max-width: 120px;
  }

  .nav-link-item {
    padding: 40px 9px;
    font-size: 14px;
  }

  .site-logo-wrapper {
    max-width: 170px;
  }

  .location-number {
    font-size: 22px;
  }

  .nav-wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .location-dropdown {
    top: 75px;
    right: -25px;
    padding: 24.5px 25px 19px 85.623px;
  }

  .brand-banner-content {
    bottom: 80px;
  }

  .robalo-hero-title {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 3px;
  }

  .inven-sec-title {
    font-size: 35px;
    line-height: 40px;
  }

  .clemens-brand-container {
    max-width: calc(100% - 15%);
  }

  .video-title {
    color: var(--Blackish, #221F20);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
  }

  .clemens-container-fluid .clemens-featured-col .content-box {
    max-width: 85%;
  }

  .financing-inner {
    max-width: calc(100% - 10%);
  }

  .clemens-lg-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-title {
    color: var(--Blackish, #221F20);
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
}

@media screen and (max-width: 991px) {
  .download-section {
    padding-bottom: 40px;
  }

  .robalo-hero-title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2.5px;
    margin-bottom: 25px;
  }

  .inven-sec-title {
    font-size: 30px;
    line-height: 35px;
  }

  .robalo-sec-title {
    text-align: center;
  }

  .robalo-lineup-section {
    padding: 50px 0 50px 0;
  }

  .clemens-brand-container .content-box {
    padding-right: 0;
    text-align: center;
  }

  .clemens-featured-col {
    width: 100%;
  }

  .robalo-black-btn {
    text-align: center;
    max-width: 500px;
    width: 100%;
  }

  .brand-banner {
    position: unset;
    padding-bottom: 40px;
  }

  .robalo-brand-logo-box {
    margin: 0 auto;
  }

  .robalo-action-inner {
    flex-direction: column;
    gap: 30px;
  }

  .robalo-action-btns {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .robalo-hero-content {
    max-width: 100%;
    text-align: center;
    padding-top: 0;
  }

  .positioned-banner {
    object-position: unset;
  }

  .clemens-lg-container .clemens-featured-box,
  .clemens-brand-container .clemens-featured-box {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .clemens-lg-container .clemens-featured-col {
    width: 100%;
  }

  .clemens-lg-container .clemens-featured-col .content-box {
    padding: 40px 0;
  }

  .brand-gallery {
    display: none;
  }

  .clemens-container-fluid .clemens-featured-col .content-box {
    padding: 40px 25px;
    text-align: center;
    align-items: center;
    max-width: 100%;
  }

  .clemens-container-fluid .clemens-featured-col {
    width: 100%;
  }

  .clemens-container-fluid .clemens-featured-box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .central-title {
    font-size: 35px;
    line-height: 42px;
  }

  .financing-heading-box,
  .financing-description-box {
    width: 100%;
  }

  .financing-content {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .financing-action {
    padding-left: 0;
    padding-top: 48px;
  }

  .marina-financing {
    padding: 50px 20px;
  }

  .financing-title {
    font-size: 28px;
  }

  .location-section {
    padding: 90px 0 40px 0;
  }

  .contact-form-section {
    margin-top: 58px;
  }

  .hero-text-col {
    margin-bottom: 40px;
    text-align: center;
  }

  .clemens-container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .featured-title-heading {
    font-size: 32px;
    line-height: 37px;
  }

  .play-icon-circle {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .brand-banner-content {
    bottom: 50px;
  }

  .robalo-hero-title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
  }

  .robalo-hero-title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
  }

  .clemens-brand-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .central-title {
    font-size: 30px;
    line-height: 37px;
  }

  .marina-financing {
    padding: 50px 15px;
  }

  .financing-button {
    width: 100%;
    text-align: center;
  }

  .title-heading {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .form-title {
    font-size: 30px;
    line-height: 40px;
  }

  .form-wrapper {
    padding: 40px 20px 40px 20px;
  }
}